.Board {
    position: relative;
    /* background-color: #524f4ce0; */
    background-image: url(carelage.jpg);
    color: rgba(255, 255, 255, 0.644);
    height: 100vh;
    width: 100vw;
    user-select: none;
}

.Room {
    position: absolute;
    top: 0vh;
    left: 0vw;
    height: 80vh;
    width: 80vw;
    /* border: 10px; */
    /* border-image-source: url(carelage.jpg); */
    /* border-image-width: 8px; */
}

.Narration {
    position: absolute;
    top: 80vh;
    left: 0vw;
    height: 20vh;
    width: 80vw;
    box-sizing: border-box;
    /* border: 2px green solid; */
}

.Inventory {
    position: absolute;
    top: 0vh;
    left: 80vw;
    height: 80vh;
    width: 20vw;
    box-sizing: border-box;
    /* border: 2px blue solid; */
}

.Map {
    position: absolute;
    top: 80vh;
    left: 80vw;
    height: 18vh;
    width: 18vw;
    box-sizing: border-box;
    /* border: 2px blue solid; */
}
