.hiddenNarration {
    visibility: hidden;
}

.tabs {
    width: 50%;
    min-width: 150px;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-left: 50px;*/
    margin: auto; 
    margin-bottom: 50px;
}

/* Style the tab */
.buttons {
  overflow: hidden;
  margin: auto;
  display: flex;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.buttons button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  display: inline-block;
  flex-grow: 1;
}

/* Change background color of buttons on hover */
.buttons button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.buttons button.active {
  background-color: #ccc;
}

/* Style the tab content */

.tablinks {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}


.tabcontent {
  display: none;
  margin: auto;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: 20px;
  text-align: left;
    min-height: 200px;
}

.startButton {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #b3abbe;
    border-radius: 6px;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 400px;
}

.startButton:hover {
  background-color: rgba(214, 205, 205, 0.877);
  /* ca marche pas*/
}


.coverPageImage {
  width: 40%;
  margin-bottom: 10px;
/*  height: 40%;*/
}