.ItemBackground {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0vh;
    left: 0vw;
    height: 80vh;
    width: 80vw;
    z-index: 45;
    background-color: rgba(0, 0, 0, 0.6);
}

.ItemOpened {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    height: fit-content;
    max-width: 70 vw;
    width: fit-content;
}

.ItemOpened path {
    stroke: none;
    fill: rgba(0, 0, 0, 0);
}
