.Room {
    background-image: url(carelage.jpg);
}

.blackVeil {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}

.RoomSVG {
    position: absolute;
    /* top: 3%;
    left: 3%;
    height: 94%;
    width: 94%; */
    top: 2%;
    left: 0%;
    height: 98%;
    width: 100%;
}

.RoomSVG path {
    stroke: none;
    fill: rgba(0, 0, 0, 0);
}

.RoomSVG path:hover {
    stroke: none;
    fill: rgba(71, 73, 180, 0.2);
}

.RoomSVG rect {
    stroke: none;
    fill: rgba(0, 0, 0, 0);
}

.RoomSVG rect:hover {
    stroke: none;
    fill: rgba(71, 73, 180, 0.2);
}
