.MapSVG {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.MapSVG path {
    stroke: rgba(0, 0, 0, 0);
    fill: rgba(0, 0, 0, 0);
}

.MapCurrentRoom {
    stroke: rgb(0, 0, 0) !important;
    fill: rgba(0, 136, 160, 0.8) !important;
    display: block;
}
