.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    height: 100vh;
    width: 100vw;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
