table {
    position: absolute;
    top: 3vh;
    left: 0.5vw;
    height: 64vh ;
}

td {
    position: relative;
    width: 8vw;
    height: 7vh;
    border: rgba(123, 68, 11, 0.918) solid 5px;
    border-style: groove;
    padding: 3px;
    margin: 30px;
    border-radius: 10px;
    background-color: aliceblue;
    /* user-select: none; */
}

td.itemUnselected {
    border: rgb(168, 168, 168) solid 3px;
}

td.itemSelected {
    border: rgba(13, 11, 139, 0.918) solid 3px;
}

td.itemOpened {
    border: rgba(90, 89, 192, 0.918) solid 3px;
}

.itemImage {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    margin: auto;
    display: block;
    object-fit: contain;
}

.OpenItemButton {
    position: absolute;
    top: 72vh;
    left: 7vw;
    width: 6vw;
}

.OpenMapButton {
    position: absolute;
    top: 73vh;
    left: 2vw;
    width: 5vw;
}

.quantity {
    position: absolute;
    top: 50%;
    left: 80%;
    color: black;
    font-size: large;
}
